.navbar-active {
  background-color: rgba(20, 20, 144, 0.4);
  backdrop-filter: blur(10px);
}

.box {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  width: 50%;
  height: 500px;
  background: url(../assets/logo.jpeg);
  border-radius: 8px;
  box-shadow: -10px -10px 8px rgb(69, 69, 69);
}
.right {
  width: 50%;
  min-height: 400px;
  background-color: #d9d9de;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: rgb(38, 38, 38);
  margin-left: -100px;
  box-shadow: 10px 10px 8px rgb(69, 69, 69);
}
.right h1 {
  font-size: 30px;
  font-weight: bold;
}
.right p {
  font-size: 20px;
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #000c66;
  color: white;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}
.btn:hover {
  background-color: #00073e;
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  .box {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
}
